*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Fredoka,'comic sans', cursive;
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* FUNZIONALITÀ */
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}


/* HEADER */
header{
    text-align: center;
    margin-bottom: 50px;
}

h1{
    color: #e53170;
    margin: 50px 0;
    display: inline-block;
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(250, 157, 255, 0.449);
}

/* MAIN */
.line{
    margin: 5px 0 5px 0;
}

.card::after{
    content: '';
    clear: both;
    display: block;
}

.card{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    color: white;
    background-color: black;
    float: left;
    border-radius: 20px;
    overflow: hidden;

}

.card img{
    width: 90px;
    float: left;
    margin-right: 10px;
}

address{
    font-style: normal;
    padding-top: 5px;
}

address a{
    text-decoration: none;
    color: #5db8dd;
}

.card:hover{
    opacity: 0.7;
}